<%- include('./layout/Header') %>
	<%- include('./layout/Navbar') %>
	<div class="showcase">
		<h1>About <span class="green-text">Express Diary</span></h1>
		<p>A Simple Application made with express</p>
		<p> Version 1.0</p>
	</div>
	<%- include('./layout/Footer') %>
